apiVersion: apps/v1
kind: Deployment
metadata:
  name: latency-monitor
spec:
  template:
    spec:
      containers:
      - name: latency-monitor
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 256Mi
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                  - latency-monitor
              topologyKey: kubernetes.io/hostname
