apiVersion: apps/v1
kind: Deployment
metadata:
  name: latency-monitor
spec:
  template:
    spec:
      containers:
      - name: latency-monitor
        resources:
          requests:
            cpu: 20m
            memory: 32Mi
          limits:
            cpu: 100m
            memory: 64Mi
